/*
IBM Weights 400 + 700
*/

body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

img {
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 40pt;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  line-height: 54px;
  display: inline-block;
  max-width: 280px;
}

.hero {
  background: url('../img/LimitedEdition.jpg');
  background-size: cover;
  background-position: center right;
  height: 40vh;
}

.title {
  text-transform: uppercase;
  padding-top: 10rem;
  padding-left: 2rem;
}

h2 {
  font-size: 30pt;
  font-weight: 700;
  text-transform: uppercase;
  color: #221F1F;
  margin-left: 2rem;
}

.crave {
  max-width: 240px;
  line-height: 30pt;
  margin-top: -1.5rem;
  padding-bottom: 1.5rem;

}

h3 {
  font-size: 20pt;
  font-weight: 700;
  text-transform: uppercase;
  color: #221F1F;
  padding-left: 4rem;
  padding-top: 1rem;
}

p {
  font-size: 18pt;
  font-weight: 400;
  color: #221F1F;
  margin-left: 2rem;
}

.middle p {
  margin-left: 5rem;
  margin-top: 1rem;
  padding-left:1rem;
  padding-right: 3rem;
  border-left: 3px solid #707070;
}

.refresh {
  padding-top: 3rem;
  position: center;
  margin-bottom: -2rem;
}

.center {
  background-color: #F7F7F7;
  padding: 2rem;
}

.center img {
  padding-top: 1.5rem;
}

figcaption {
  padding-top: 3rem;
  font-size: 18pt;
  font-weight: 400;
  color: #221F1F;
}

.button {
  color: white;
  font-size: 20pt;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #831E2E;
  padding: 1rem;
}

.login {
  font-size: 18pt;
  font-weight: 400;
  color: #221F1F;
  text-align: center;
  border-bottom: 3px solid #831E2E;
}

.social {
  color: white;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}

.fa-brands {
  color: white;
  font-size: 30pt;
}
footer {
  background-color: #831E2E;
  padding: 1rem;
}

footer p {
  font-size: 10pt;
  font-weight: 400;
  color: white;
  text-align: center;
}